body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(75, 139, 118);
}

.scores {
  text-align: center;
  padding-bottom: 15px;
  height: 20px;
  background-color: rgb(75, 139, 118);
  color: white;
  font-size: larger;
}

